<div class="container my-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book._id}}</td>
                <td>{{book.name}}</td>
                <td>{{book.price}}</td>
                <td>{{book.description}}</td>
                <td>
                    <a href="edit-book/{{book._id}}" class="btn btn-success">Edit</a>
                    <button type="button" class="btn btn-danger mx-3" (click)="deleteBook(book._id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>